# Python
__pycache__/
*.py[cod]
*.sqlite3
venv/
env/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# 환경 변수
.env

# Node.js (프론트엔드)
node_modules/
dist/
build/

# VSCode
.vscode/

# macOS, Windows OS 관련
.DS_Store
Thumbs.db
